.wrapper{
    align-items: center;
    align-self: flex-end;
    background-color: white;
    border-radius: 10px 10px 0 0;
    box-shadow: 
        0 -1px 5px hsl(0deg 0% 0% / 0.075),
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
    box-sizing: border-box;
    display: flex;
    flex: 0.47;
    flex-flow: column nowrap;
    height: 98%;
    justify-content: flex-start;
    width: 100%;
}